html,
body {
    height: 100%;
}

html {
    font-size: 14px;
}

body {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    min-width: 320px;
    background: #000000;
    font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.4285em;
    color: #FFFFFF;
}

h1 {
    min-height: 1rem;
    font-size: 2rem;
    font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    line-height: 1.28571429em;
    margin: calc(2rem - 0.14285714em) 0em 1rem;
    font-weight: bold;
    padding: 0em;
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child {
    margin-top: 2em;
}


.ui.container {
    display: block;
    max-width: 100% !important;
}

/* Mobile */

@media only screen and (max-width: 767px) {
    .ui.container {
        width: auto !important;
        margin-left: 1em !important;
        margin-right: 1em !important;
    }

    .ui.grid.container {
        width: auto !important;
    }

    .ui.relaxed.grid.container {
        width: auto !important;
    }

    .ui.very.relaxed.grid.container {
        width: auto !important;
    }
}

/* Tablet */

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .ui.container {
        width: 723px;
        margin-left: auto !important;
        margin-right: auto !important;
    }

    .ui.grid.container {
        width: calc(723px + 2rem) !important;
    }

    .ui.relaxed.grid.container {
        width: calc(723px + 3rem) !important;
    }

    .ui.very.relaxed.grid.container {
        width: calc(723px + 5rem) !important;
    }
}

/* Small Monitor */

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .ui.container {
        width: 933px;
        margin-left: auto !important;
        margin-right: auto !important;
    }

    .ui.grid.container {
        width: calc(933px + 2rem) !important;
    }

    .ui.relaxed.grid.container {
        width: calc(933px + 3rem) !important;
    }

    .ui.very.relaxed.grid.container {
        width: calc(933px + 5rem) !important;
    }
}

/* Large Monitor */

@media only screen and (min-width: 1200px) {
    .ui.container {
        width: 1127px;
        margin-left: auto !important;
        margin-right: auto !important;
    }

    .ui.grid.container {
        width: calc(1127px + 2rem) !important;
    }

    .ui.relaxed.grid.container {
        width: calc(1127px + 3rem) !important;
    }

    .ui.very.relaxed.grid.container {
        width: calc(1127px + 5rem) !important;
    }
}

.ui.form {
    position: relative;
    max-width: 100%;
}

.ui.form .field {
    clear: both;
    margin: 0em 0em 1em;
}

.ui.form .field:last-child,
.ui.form .fields:last-child .field {
    margin-bottom: 0em;
}

.ui.form .fields .field {
    clear: both;
    margin: 0em;
}

/*--------------------
        Labels
---------------------*/

.ui.form .field>label {
    display: block;
    margin: 0em 0em 0.28571429rem 0em;
    color: #FFFFFF;
    font-size: 1em;
    font-weight: bold;
    text-transform: none;
}

.ui.form textarea,
.ui.form input:not([type]),
.ui.form input[type="date"],
.ui.form input[type="datetime-local"],
.ui.form input[type="email"],
.ui.form input[type="number"],
.ui.form input[type="password"],
.ui.form input[type="search"],
.ui.form input[type="tel"],
.ui.form input[type="time"],
.ui.form input[type="text"],
.ui.form input[type="file"],
.ui.form input[type="url"] {
    width: 100%;
    vertical-align: top;
    font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    margin: 0em;
    outline: none;
    -webkit-appearance: none;
    line-height: 1.21428571em;
    padding: 0.67857143em 1em;
    font-size: 1em;
    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    color: #000000;
    border-radius: 0.28571429rem;
    -webkit-box-shadow: 0em 0em 0em 0em transparent inset;
    box-shadow: 0em 0em 0em 0em transparent inset;
    -webkit-transition: color 0.1s ease, border-color 0.1s ease;
    transition: color 0.1s ease, border-color 0.1s ease;
}

/*--------------------
        Focus
---------------------*/

.ui.form input:not([type]):focus,
.ui.form input[type="date"]:focus,
.ui.form input[type="datetime-local"]:focus,
.ui.form input[type="email"]:focus,
.ui.form input[type="number"]:focus,
.ui.form input[type="password"]:focus,
.ui.form input[type="search"]:focus,
.ui.form input[type="tel"]:focus,
.ui.form input[type="time"]:focus,
.ui.form input[type="text"]:focus,
.ui.form input[type="file"]:focus,
.ui.form input[type="url"]:focus {
    color: #000000;
    border-color: #FFFFFF;
    border-radius: 0.28571429rem;
    background: #FFFFFF;
    -webkit-box-shadow: 0px 0em 0em 0em rgba(34, 36, 38, 0.35) inset;
    box-shadow: 0px 0em 0em 0em rgba(34, 36, 38, 0.35) inset;
}

.ui.form select {
    display: block;
    height: auto;
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #85B7D9;
    border-radius: 0.28571429rem;
    -webkit-box-shadow: 0em 0em 0em 0em transparent inset;
    box-shadow: 0em 0em 0em 0em transparent inset;
    padding: 0.62em 1em;
    color: #000000;
    -webkit-transition: color 0.1s ease, border-color 0.1s ease;
    transition: color 0.1s ease, border-color 0.1s ease;
}

.ui.button {
    cursor: pointer;
    display: inline-block;
    min-height: 1em;
    outline: none;
    border: none;
    vertical-align: baseline;
    background: #E0E1E2 none;
    color: #000000;
    font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    margin: 0em 0.25em 0em 0em;
    padding: 0.98571429em 1.5em 0.98571429em;
    text-transform: none;
    text-shadow: none;
    font-weight: bold;
    line-height: 1em;
    font-style: normal;
    text-align: center;
    font-size: 1.5em;
    text-decoration: none;
    border-radius: 0.28571429rem;
    -webkit-box-shadow: 0px 0px 0px 1px transparent inset, 0px 0em 0px 0px rgba(34, 36, 38, 0.15) inset;
    box-shadow: 0px 0px 0px 1px transparent inset, 0px 0em 0px 0px rgba(34, 36, 38, 0.15) inset;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: opacity 0.1s ease, background-color 0.1s ease, color 0.1s ease, background 0.1s ease, -webkit-box-shadow 0.1s ease;
    transition: opacity 0.1s ease, background-color 0.1s ease, color 0.1s ease, background 0.1s ease, -webkit-box-shadow 0.1s ease;
    transition: opacity 0.1s ease, background-color 0.1s ease, color 0.1s ease, box-shadow 0.1s ease, background 0.1s ease;
    transition: opacity 0.1s ease, background-color 0.1s ease, color 0.1s ease, box-shadow 0.1s ease, background 0.1s ease, -webkit-box-shadow 0.1s ease;
    will-change: '';
    -webkit-tap-highlight-color: transparent;
}

span{
    color: red;
}
.ui.positive.button {
    background-color: red;
    color: #FFFFFF;
    text-shadow: none;
    background-image: none;
}

.ui.fluid.button {
    display: block;
    width: 100%;
}